In [11]:
# Ex.1

lista_frutas = []

for k in range(5):
    frutas = input("Digite sua fruta favorita: ")
    lista_frutas.append(frutas)
print(lista_frutas)

Digite sua fruta favorita: maça
Digite sua fruta favorita: uva
Digite sua fruta favorita: laranja
Digite sua fruta favorita: abacaxi
Digite sua fruta favorita: manga
['maça', 'uva', 'laranja', 'abacaxi', 'manga']

In [8]:
# Ex.2

lista_nomes = []
lista_cpf = []

for k in range(5):
    nome = input("Digite seu nome: ")
    cpf = input("Digite seu cpf: ")
    lista_nomes.append(nome)
    lista_cpf.append(cpf)

print(lista_nomes)
print(lista_cpf)

Digite seu nome: matheus
Digite seu cpf: 123
Digite seu nome: livia
Digite seu cpf: 456
Digite seu nome: leila
Digite seu cpf: 789
Digite seu nome: gabriel
Digite seu cpf: 012
Digite seu nome: tom
Digite seu cpf: 345
['matheus', 'livia', 'leila', 'gabriel', 'tom']
['123', '456', '789', '012', '345']

In [17]:
# Ex.3

lista_frutas = ['maça', 'laranja', 'banana']

for i in range (len(lista_frutas)):
    print(f"Fruta {i}: {lista_frutas[i]}")

Fruta 0: maça
Fruta 1: laranja
Fruta 2: banana

In [19]:
# Ex.4

texto = 'python'
for letra in texto:
    print(letra)

p
y
t
h
o
n

In [22]:
# Ex.5

numeros = [2, 4, 6, 8]
soma = 0

for k in numeros:
    soma += k
    print(soma)

2
6
12
20

In [23]:
# Ex.6

numeros = [2, 4, 6, 8]

for k in numeros:
    quadrado = k ** 2
    print(f"O quadrado de {k} é {quadrado}")

O quadrado de 2 é 4
O quadrado de 4 é 16
O quadrado de 6 é 36
O quadrado de 8 é 64

In [44]:
# Ex.7

palavras = ['casa', 'computador', 'sol', 'programção']
lista_longas = []

for i in palavras:
    if len(i) >= 5:
        lista_longas.append(i)
print(lista_longas)

['computador', 'programção']

In [45]:
# Ex.8

lista = [1, 4, 7, 10, 13, 16]
soma = 0

for k in lista:
    if k % 2 == 0:
        soma += k
print(soma)

30

In [53]:
# Ex.9

lista_A = [1, 4, 7, 10, 13, 16]
lista_B = [6, 13, 10, 7, 4, 1]

lista_nova = []

lista_nova.append([lista_A, lista_B])
print(lista_nova)

print(lista_nova[0][1])

[[[1, 4, 7, 10, 13, 16], [6, 13, 10, 7, 4, 1]]]
[6, 13, 10, 7, 4, 1]

In [55]:
# Exercício 1

lista_produtos = []
lista_valores = []

for k in range(5):
    produto = input("Digite o nome do produto: ")
    valor = float(input("Digite o valor do produto: "))
    lista_produtos.append(produto)
    lista_valores.append(valor)

for i in range(len(lista_produtos)):
    print(f"Produto: {lista_produtos[i]} - Valor: {lista_valores[i]}")

soma = 0

for k in lista_valores:
    soma += k
print(f"Soma dos valores: {soma}")

Digite o nome do produto: Arroz
Digite o valor do produto: 15
Digite o nome do produto: Feijão
Digite o valor do produto: 10
Digite o nome do produto: Batata
Digite o valor do produto: 5
Digite o nome do produto: Frango
Digite o valor do produto: 20
Digite o nome do produto: Carne
Digite o valor do produto: 35
Produto: Arroz - Valor: 15.0
Produto: Feijão - Valor: 10.0
Produto: Batata - Valor: 5.0
Produto: Frango - Valor: 20.0
Produto: Carne - Valor: 35.0
Soma dos valores: 85.0

In [60]:
# Exercício 2

lista_nome = []
lista_salario = []
salario_desconto = []

for k in range(5):
    nome = input("Digite seu nome: ")
    salario = float(input("Digite seu salário: "))
    lista_nome.append(nome)
    lista_salario.append(salario)

for i in range(len(lista_nome)):
    if lista_salario[i] <= 1500:
        salario_desc = lista_salario[i] * 0.95
        salario_desconto.append(salario_desc)
    elif lista_salario[i] <= 3000:
        salario_desc = lista_salario[i] * 0.9
        salario_desconto.append(salario_desc)
    elif lista_salario[i] > 3000:
        salario_desc = lista_salario[i] * 0.85
        salario_desconto.append(salario_desc)

print(lista_nome)
print(salario_desconto)

for k in range(len(lista_nome)):
    print(f"Nome: {lista_nome[k]} - Salário após o desconto: {salario_desconto[k]}")

Digite seu nome: Matheus
Digite seu salário: 3500
Digite seu nome: Livia
Digite seu salário: 2000
Digite seu nome: Fia
Digite seu salário: 1500
Digite seu nome: Leila
Digite seu salário: 5000
Digite seu nome: Gabriel
Digite seu salário: 10000
['Matheus', 'Livia', 'Fia', 'Leila', 'Gabriel']
[2975.0, 1800.0, 1425.0, 4250.0, 8500.0]
Nome: Matheus - Salário após o desconto: 2975.0
Nome: Livia - Salário após o desconto: 1800.0
Nome: Fia - Salário após o desconto: 1425.0
Nome: Leila - Salário após o desconto: 4250.0
Nome: Gabriel - Salário após o desconto: 8500.0