In [ ]:
# Ex.1

lista_nome = []
lista_idade = []
lista_ceps = []

for i in range(2):
  nome = input("Digite seu nome: ")
  idade = int(input("Digite sua idade: "))
  cep = int(input("Digite seu cep: "))

  lista_nome.append(nome)
  lista_idade.append(idade)
  lista_ceps.append(cep)

print(lista_nome)
print(lista_idade)
print(lista_ceps)

Digite seu nome: Matheus
Digite sua idade: 18
Digite seu cep: 68767468768
Digite seu nome: fhbrigbjfg
Digite sua idade: 54
Digite seu cep: 687654687
['Matheus', 'fhbrigbjfg']
[18, 54]
[68767468768, 687654687]

In [ ]:
# Ex.2

lista_dados = [[], [], []]
i=0

while i < 2:
  nome = input("Digite seu nome: ")
  idade = int(input("Digite sua idade: "))
  cep = int(input("Digite seu cep: "))

  lista_dados[0].append(nome)
  lista_dados[1].append(idade)
  lista_dados[2].append(cep)

  i += 1

print(lista_dados)

Digite seu nome: sdfsfg
Digite sua idade: 65
Digite seu cep: 545
Digite seu nome: fbsdb
Digite sua idade: 584
Digite seu cep: 745
[['sdfsfg', 'fbsdb'], [65, 584], [545, 745]]

In [ ]:
# Ex.3

lista_dados = []
i = 0

while i < 2:
  nome = input("Digite seu nome: ")
  idade = int(input("Digite sua idade: "))
  cep = int(input("Digite seu cep: "))

  lista_dados.append([nome, idade, cep])

  i += 1

print(lista_dados)

Digite seu nome: a
Digite sua idade: 1
Digite seu cep: 12
Digite seu nome: b
Digite sua idade: 2
Digite seu cep: 23
[['a', 1, 12], ['b', 2, 23]]

In [16]:
# Exemplo de Tuplas

tupla = 4, 5, 6
print(tupla)

(4, 5, 6)

In [17]:
# Exemplo de DicionÃ¡rio

dicionario = {
    'nome' : ['Pedro', 'Maria'],
    'idade' : [17, 34]
}

print(dicionario)

{'nome': ['Pedro', 'Maria'], 'idade': [17, 34]}

In [27]:
# Tupla

tupla_tupla = ((4, 5, 6), (6, 7, 8))

print(tupla_tupla)

((4, 5, 6), (6, 7, 8))

In [22]:
tupla1 = tuple('fiap')
print(tupla1)

('f', 'i', 'a', 'p')

In [42]:
tupla2 = tuple(['fiap', [1, 2], True])
print(tupla2)

('fiap', [1, 2], True)

In [43]:
tupla2[1].append(1000)
print(tupla2)

('fiap', [1, 2, 1000], True)

In [50]:
tupla3 = tuple(['fiap', [1, 2], True])
lista = list(tupla3)
print(lista)

lista.insert(0, 'matheus')
print(lista)

tupla3 = tuple(lista)
print(tupla3)

['fiap', [1, 2], True]
['matheus', 'fiap', [1, 2], True]
('matheus', 'fiap', [1, 2], True)

In [52]:
tupla4 = tuple(['fiap', [1, 2], True])
lista2 = list(tupla4)

posicao_insercao = lista2.index('fiap') + 1
lista2.insert(posicao_insercao, 'hoje')

tupla4 = tuple(lista2)
print(tupla4)

('fiap', 'hoje', [1, 2], True)

In [54]:
tupla5 = (4, None, 'fiap') + (6, 0) + ('engenharia', 1)
print(tupla5)

(4, None, 'fiap', 6, 0, 'engenharia', 1)

In [55]:
tupla6 = (4, None, 'fiap') * 2
print(tupla6)

(4, None, 'fiap', 4, None, 'fiap')