In [31]:
# Exercício 1

for numero in range(2, 12, 2):
  elevado = numero ** 3
  print(elevado)

8
64
216
512
1000

In [40]:
# Exercício 2

valor_total = 0

for numero in range(0, 5):
  v = float(input(f"Digite o valor do produto {numero+1}: "))
  valor_total += v

print(f"Valor total da compra R${valor_total: .2f}")
media = valor_total / 5
print(f"Valor medio dos produtos R${media: .2f}")

Digite o valor do produto 1: 21.25
Digite o valor do produto 2: 35
Digite o valor do produto 3: 45
Digite o valor do produto 4: 12
Digite o valor do produto 5: 78
Valor total da compra R$ 191.25
Valor medio dos produtos R$ 38.25

In [30]:
# Exercício 3

num = int(input("Digite um número para ver sua tabuada: "))

for i in range(1, 11):
  print(f"{num} x {i} = {num * i}")

Digite um número para ver sua tabuada: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [57]:
# Exercício 4

num =  int(input("Digite a quantidade de temperaturas em fahrenheit você deseja converter: "))

for i in range(num):
  f = float(input(f"Digite a temperatura {i+1} em fahrenheit: "))
  c =  5 / 9 * (f - 32)
  print(f"A temperatura {f} em fahrenheit equivale a {c: .2f} em celsius")

Digite a quantidade de temperaturas em fahrenheit você deseja converter: 3
Digite a temperatura 1 em fahrenheit: 95
A temperatura 95.0 em fahrenheit equivale a  35.00 em celsius
Digite a temperatura 2 em fahrenheit: 70
A temperatura 70.0 em fahrenheit equivale a  21.11 em celsius
Digite a temperatura 3 em fahrenheit: 60
A temperatura 60.0 em fahrenheit equivale a  15.56 em celsius

In [61]:
# Exercício 5

lista1 = ['a', 'b', 'c']
lista2 = ['x', 'y', 'z']

for i in lista1:
  if i == 'b' or i == 'c':
    print(i)
    break

b

In [66]:
# Exercício 6

palavra = 'banana'
alvo = 'a'
contador = 0

for letra in palavra:
  if letra == alvo:
    contador += 1

print(f"A letra '{alvo}' aparece {contador} vezes na palavra '{palavra}'.")

A letra 'a' aparece 3 vezes na palavra 'banana'.

In [67]:
# Exercício 7

frase = input("Digite uma frase: ")
letra_alvo = input("Digite a letra alvo: ")
contador = 0

for letra in frase:
  if letra == letra_alvo:
    contador += 1

print(contador)

Digite uma frase: matheus freitas vieira
Digite a letra alvo: i
3

In [73]:
# Exercício 8

usuarios = {}

for i in range(3):
  user = input("Digite o usuário que deseja criar:\n")
  senha = input("Crie a senha para esse usuário:\n")
  usuarios[user] = senha

userT = input("Digite o usuário que deseja acessar:\n")
if userT in usuarios:
  senhaT = input("Digite a sua senha:\n")
  if senhaT == usuarios[userT]:
    print("Bem-vindo ao sistema!\n")
  else:
    print("Senha incorreta!\n")
else:
  print("Usuário não encontrado!\n")

Digite o usuário que deseja criar:
matheus
Crie a senha para esse usuário:
123
Digite o usuário que deseja criar:
teste
Crie a senha para esse usuário:
456
Digite o usuário que deseja criar:
teste1
Crie a senha para esse usuário:
789
Digite o usuário que deseja acessar:
matheus
Digite a sua senha:
456
Senha incorreta!