In [3]:
# Ex.1

for nome in range(10):
  print(nome)

0
1
2
3
4
5
6
7
8
9

In [4]:
# Ex.2

for numero in range(1,11):
  print(numero)

1
2
3
4
5
6
7
8
9
10

In [5]:
# Ex.3

for k in range(1, 11, 2):
  print(k)

1
3
5
7
9

In [9]:
# Ex.4

for k in range(3):
  nome = input("Digite seu nome: ")
  print(nome)
  cpf = int(input("Digite seu CPF: "))
  print(cpf)

Digite seu nome: Matheus
Matheus
Digite seu CPF: 846846
846846
Digite seu nome: Lívia
Lívia
Digite seu CPF: 546544
546544
Digite seu nome: Tom
Tom
Digite seu CPF: 546454
546454

In [10]:
# Ex.5

entrada = input("Digite uma palavra: ")
for i in entrada:
  print("Caractere", i)

Digite uma palavra: fiap
Caractere f
Caractere i
Caractere a
Caractere p

In [11]:
# Ex.6

for i in range (1, 11):
  if i == 5:
    print("Valor encontrado", i)
    break

Valor encontrado 5

In [18]:
# Ex.7

for k in range(1, 6):
  if k == 3:
    continue
  print("Interação", k)

Interação 1
Interação 2
Interação 4
Interação 5

In [19]:
# Ex.8

for numero in range(1, 5):
  num =  numero ** 2
  print(num)

1
4
9
16

In [21]:
soma_quadrados = 0

for k in range(1, 6):
  quadrado = k ** 2
  soma_quadrados += quadrado
  print(soma_quadrados)

1
5
14
30
55

In [25]:
# Ex.9

soma_quadrados = 0

for k in range(1, 5):
  quadrado = k ** 2
  soma_quadrados += quadrado
media = soma_quadrados / 4
print(media)

7.5